# Directories
.logs
dist
node_modules
repomix
**/.bin
**/airdrops/bindings
**/build
**/flow/bindings
**/generated
**/lockup/bindings

# Files
*.log
*.tsbuildinfo
.env*
!.env.example
graph/**/schema.graphql
graph/**/manifests/**/*.yaml
subgraph.yaml
