# rindexer runtime connection string
DATABASE_URL=postgresql://postgres:rindexer@localhost:5440/postgres

# Used by docker-compose postgres service
POSTGRES_PASSWORD=rindexer
POSTGRES_USER=postgres
POSTGRES_DB=postgres

# Mainnet Ethereum RPC endpoint
ETHEREUM_RPC_URL=https://lb.routeme.sh/rpc/1/8519f297-3b9b-4746-981d-8bb5772960cb
