# rindexer runtime connection string
DATABASE_URL=postgresql://postgres:rindexer@localhost:5440/postgres

# Used by docker-compose postgres service
POSTGRES_PASSWORD=rindexer
POSTGRES_USER=postgres
POSTGRES_DB=postgres

# Mainnet Ethereum RPC endpoint: https://routeme.sh/app/consumer/api-keys
ETHEREUM_RPC_URL=
